body {
    background-color: black;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun {
    display: flex;
    background-color: yellow;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    animation: rotate 15.6s linear infinite;
    box-shadow: 0 0 50px yellow;
}

@keyframes rotate {
0%  {
    transform: rotate(0deg);
}
100% {
    transform: rotate(-360deg);
}
}

.zeme {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 50px #2a85c8;
    background-color: #2a85c8;
    border: 2px solid green;
    animation: rotate 17.6s linear infinite;
    display: flex;
    position: absolute;
    top: 200%;
}

.mesic {
    background-color: #a9a9a9;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 110%;
    display: flex;
    position: absolute;
    box-shadow: 0 0 35px #a9a9a9;
}

.secret-merkur {
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    animation: rotate 8.5s linear infinite;
}

.merkur {
    background-color: #908d8b;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 170%;
}

.secret-jupiter {
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    animation: rotate 25.3s linear infinite;
}

.jupiter {
    background-color: #d9a066;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 360%;
}

.sun-animation {
    background-color: yellow;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    animation: rotate 15.6s linear infinite;
}