body {
    background-color: blue;
}

.container {
    border: 2px solid grey;
    border-radius: 25px;
    text-align: center;
    width: 350px;
    height: auto;
    background-color: white;
    margin: auto;
    margin-top: 6%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 7px 7px 7px black;
}

.rgs {
    font-size: 30px;
    color: blue;
    margin-bottom: 20px;
    font-weight: bold;
}

.dat {
    font-size: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 90%; 
    padding: 10px; 
    margin: 10px 0; 
    font-size: 16px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    border: 2px solid black;
}

input::placeholder,
textarea::placeholder {
    font-weight: bold; 
}

input[type="submit"] {
    width: 95%;
    padding: 15px; 
    font-size: 18px; 
    color: white;
    background-color: blue;
    border: none; 
    border-radius: 25px; 
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkblue; 
}

#password-validation-message {
    margin-bottom: 0;
  }
  
  input[type="submit"] {
    margin-top: 0;
  }